# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo

# Logs
*.log

# Database
*.db-shm
*.db-wal
/Webapp/RaceCore/RaceCore/StageProject_RaceCore/Data/racecore.db
/Webapp/RaceCore/RaceCore/StageProject_RaceCore/Data/racecore.db
