@model StageProject_RaceCore.Models.Player
@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Speler verwijderen</h2>

<p>Ben je zeker dat je <strong>@Model.Name</strong> wil verwijderen?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Verwijderen</button>
</form>