@model StageProject_RaceCore.Models.Player

<h2>Speler bewerken</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Naam</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group mt-2">
        <label>Draft positie</label>
        <input asp-for="PositionInDraft" class="form-control" />
    </div>

    <div class="form-group mt-2">
        <label>Punten</label>
        <input asp-for="TotalPoints" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Opslaan</button>
</form>