@model StageProject_RaceCore.Models.Player

@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Speler bewerken</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Naam</label>
        <input asp-for="Name" class="form-control" />
    </div>

</form>