@{
    ViewData["Title"] = "Team Overview";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-card">
    <h2>Team Overview</h2>
    <p>This is the Team Overview</p>
    <p>on this page you will be able to view the teams, their team colors, and their points</p>
</div>